@import 'hover'

@media screen and ( max-width: 1700px )
  .team-slider-nav .slick-track
    padding-left: 22%
@media screen and ( max-width: 1700px )
  .team-slider-nav .slick-track
    padding-left: 19%
@media screen and ( max-width: 1300px )
  .director__title
    width: 95%
  .section-title
    font-size: 32px
    line-height: 48px
  .team-slider-single
    max-width: 420px
    margin-left: -10px
  .team-info__title, .team-info__subtitle, .director__title
    margin-bottom: 35px
  .gallery-block__item--with-text
    padding: 40px 30px
  .gallery-block__item-title
    font-size: 32px
  .gallery-block__btn, .form-tab__btn
    width: 140px
    height: 140px
  .gallery-block__item--guarantee
    padding-left: 35px
    padding-right: 10px
  .gallery-block__item--guarantee
    & h3::first-letter
      font-size: 150px
      line-height: 130px
      padding: 30px 0
    & h3
      font-size: 32px
    & p
      font-size: 20px
  .director__descr
    margin-bottom: 30px
  .director-text-block
    max-width: 63%
  .director__list
    grid-gap: 15px 40px
    grid-template: repeat(2, 1fr)/minmax(200px, 230px) minmax(250px, 350px)
  .director__photo
    height: 110%
  .team-info__subtitle
    font-size: 20px
    line-height: 28px
  .team-info__grid
    column-gap: 20px
    font-size: 16px
  .team-slider-nav .slick-track
    padding-left: 16%
  .contacts__title
    width: 58%
  .contacts-info__image
    height: 670px
    display: flex
    justify-content: flex-end
  .contacts-info__block
    width: 60%
  .contacts-info__bottom
    width: 53%
  .footer-top__title, .footer-top__subtitle
    width: 80%
  .footer-bottom__wrapper
    column-gap: 0
    width: 68%
@media screen and ( max-width: 1200px )
  .marquee
    font-size: 50px
    line-height: 1
  .header__address
    display: none
  // .header__address
  //   margin-right: auto
  //   display: flex
    align-items: center
  .main-info
    max-width: 570px
    width: 55%
    &__title
      font-size: 38px
      line-height: 54px
  .about-us__info-item--1, .about-us__info-item--5
    grid-column: 8/22
  .about-us__info-item--3
    grid-column: 2/18
  .about-us__info-item--4
    grid-column: 22/36
  .project__item--wide
    max-height: 250px
  .project__item-block--big
    max-height: 530px
  .pricelist-wrapper
    flex-wrap: wrap
  .pricelist-item--no-bg
    padding: 100px 0 0 0
    // padding: 0
    // margin-bottom: 40px
    order: 1
    width: 100%
    max-width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  .pricelist-item__social-link:last-child
    margin: 0
  .pricelist-item__text
    width: 40%
  .pricelist-item__descr
    width: 30%
  .key__title
    padding: 110px 0
  .key-list__item:not(:last-child)
    margin-bottom: 90px
  .key-list__item
    font-size: 26px
    line-height: 32px
  .key-list__item::before
    top: -20px
    left: -10px
  .director-text-block
    max-width: 100%
  .director__descr
    width: 50%
  .director__list
    grid-template: repeat(3,1fr)/1fr
    max-width: 50%
    grid-gap: 35px
  .director__photo
    right: 0
  .words-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  .words__social
    position: relative
  .team-wrapper
    flex-wrap: wrap
  .team-slider-single
    order: 1
    margin: -70px auto 0
  .team-info
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
  .team-info__title
    width: 100%
  .team-info__subtitle
    width: 38%
    margin-right: auto
  .team-info__grid
    width: 60%
    column-gap: 0
  .team-slider-single__btn
    top: 36%
  .team-slider-nav .slick-track
    padding: 0
  .contacts
    overflow-x: hidden
  .contacts__title
    width: 65%
  .contacts-info__image
    right: -10%
  .contacts-info__image::before
    left: 35%
  .contacts-text
    font-size: 16px
  .contacts-info__phone-num
    font-size: 28px
  .contacts-info__bottom
    width: 57%
  .contacts-info__block
    width: 68%
  .footer-top__descr
    flex-wrap: wrap
    width: 60%
  .footer-top__descr-item
    width: 48%
  .footer-top__descr-item:nth-child(2)
    margin-top: 40px
    order: 1
  .footer-top__descr-social
    justify-content: flex-start
  .footer-inst
    top: auto
    right: 0
    bottom: -30%
  .footer-top__wrapper
    width: 100%
  .footer-top__title, .footer-top__subtitle
    width: 100%
  .footer-bottom
    position: relative
  .footer-inst__btn
    width: 140px
    height: 140px
    top: 40%
  .footer-bottom__wrapper
    width: 100%
    grid-template-columns: 300px repeat(2,1fr )

    // display: flex
    // flex-wrap: wrap
  // .footer-bottom__logo
  //   margin-right: 30px
  // .footer-bottom__phone,
  // .footer-bottom__callback-text,
  // .footer-bottom__copyrights
  //   width: 100%
  // .footer-bottom__address
  //   width: 60%
  // .footer-bottom__callback-text
  //   text-align-last: left
@media screen and ( max-width: 1000px )
  .mobile-hidden
    display: none
  .desktop-hidden
    display: block
  .header
    display: grid
    grid-template-columns: repeat(2,1fr)
    row-gap: 20px
  .header__logo
    margin-right: auto
    min-width: 246px
  .header__social
    grid-row: 2/3
  .header__right-side
    grid-column: 2/3
    grid-row: 1/3
    flex-direction: column-reverse
    align-items: flex-end
    justify-content: space-between
    height: 100%
    min-width: 1px
  .menu-btn
    margin-top: 30px
    max-width: 85px
    width: 100%
  .menu-btn span:first-child
    margin-bottom: 15px
  .main-wrapper
    flex-direction: column
  .main-info
    max-width: 100%
    width: 100%
    text-align: center
  .main-info__subtitle
    max-width: 100%
  .main-ellipse
    margin: 0 auto 100px
  .main-info--mobile .main-info__list
    display: flex
    text-align: left
  .form-tab
    width: 80%
  .form-tab__list
    font-size: 20px
  .form-tab--final
    width: 100%
  .form-tab__descr
    width: 75%
  .form-tab__image
    width: 25%
  .form-tab__image img
    object-fit: cover
  .form-tab__submit
    left: 65%
  .project-wrapper, .project__item-block--row
    flex-direction: column
  .project__item-block, .project__item, .project__item-image
    width: 100%
    max-height: 300px
  .project__item-block--row, .project__item-block--column
    max-height: none
  .project__item--active
    &::before
      opacity: 0
    & button
      opacity: 1
  .pricelist-item
    max-width: 100%
    width: 100%
    margin-bottom: 80px
  .pricelist-item__list
    text-align: center
  .pricelist-item__btn
    width: 300px
    margin: auto
  .pricelist-item--no-bg
    flex-wrap: wrap
    justify-content: center
  .pricelist-item__descr, .pricelist-item__text
    width: 45%
  .pricelist-item__descr
    margin-right: auto
  .key-wrapper
    flex-direction: column
  .key
    padding-top: 0
  .key__title
    position: relative
    width: 90%
    margin: auto

    &::before
      width: 60%
      height: 120px
      left: 0
  .key-list
    max-width: 370px
    width: 100%
    margin: auto
  .key-list__item::before
    right: 0
    left: auto
  // .director__photo
  //   position: relative
  //   max-height: 500px
  //   right: 0
  // .director__photo-item
  //   width: 50%
  .director
    overflow: hidden
    padding-bottom: 40px
  .director__subtitle
    width: 50%
  .director__photo
    height: 100%
    right: -20%
    bottom: -10%
  .team-info__subtitle
    width: 100%
  .team-info__grid
    width: 100%
    max-width: 580px
    margin: auto
  .slider
    padding-bottom: 0
  .contacts
    padding-top: 100px
  .contacts-info__image
    height: 480px
    top: -130%
    z-index: -1
    right: 0
  .contacts-info__bottom
    width: 90%
  .contacts-info__block
    width: 100%
@media screen and ( max-width: 800px )
  .section-title
    font-size: 30px
  .form-tab__title
    margin-bottom: 40px
    width: 60%
  .form-tab
    padding: 20px
  .calculator-form
    flex-direction: column
    height: 500px
  .calculator__block
    width: 70%
    margin: auto
  .form-tab__list
    grid-template-columns: auto
  .form-tab__list-item
    margin-bottom: 20px
  .form-tab
    width: 100%
  .form-tab:nth-child(4)
    & .form-tab__list
      grid-template-columns: repeat(2,1fr )
  .form-tab-btns
    padding: 0
  .form-tab__btn
    position: absolute
    bottom: -11%
    left: 50%
    transform: translateX(-50% )
  .form-tab__back
    position: absolute
    top: 20px
    right: 20px
  .form-tab--final
    flex-direction: column-reverse
    justify-content: flex-end
    height: 100%
    padding: 0
  .form-tab__descr
    width: 100%
    padding: 20px
  .form-tab__image
    width: 100%
  .form-tab__image img
    height: 130px
  .form-tab__last-step
    font-size: 16px
    line-height: 20px
  .form-tab__phone-label
    font-size: 14px
  .form-tab__submit
    width: 140px
    height: 140px
    left: 50%
    transform: translateX(-50%)
    bottom: -11%
  .form-tab__phone-input
    width: 100%
  .about-us__info
    display: flex
    flex-direction: column
    width: 60%
    margin: auto
  .about-us__info-item::before
    left: auto
    right: 0
  .pricelist-item--no-bg
    margin-bottom: 0
  .gallery-wrapper
    flex-direction: column
  .gallery-block--small
    overflow-y: visible
    position: static
    height: auto
    margin-bottom: 30px
  .gallery-block
    width: 100%
  .gallery-block__item--guarantee h3::first-letter
    padding: 0
  .gallery-block__item
    height: 350px
  .gallery-block__item img
    height: 100%
    object-fit: cover
  .gallery-block__item-title
    font-size: 24px
    margin-bottom: 40px
  .gallery-block__item--with-text p
    font-size: 18px
    margin-bottom: 10px
  .gallery-block__btn
    width: 120px
    height: 120px
  .gallery-block__item--hidden
    display: none
  .before-after__title,.before-after__thumb
    width: 100%
  .before-after__title
    margin-bottom: 40px
  .before-after__text
    text-align: left
  .before-after__thumb-image
    margin: 0 12px
  .project__text
    bottom: auto
    top: 20px
  .video-item
    width: 100%
  .director__photo
    height: 40%
    right: 0
    bottom: auto
    top: 12%
    &::before
      display: none
  .director__name
    width: 65%
    font-size: 24px
  .director__descr
    font-size: 16px
    line-height: 24px
    width: 50%
    margin-bottom: 250px
  .director__subtitle
    width: 100%
  .director__list
    width: 100%
    max-width: 100%

  .director__list-item
    width: 65%
    &::before
      top: 0
  .director__list-item:nth-child(even)
    margin-left: auto
    text-align: right
    &::before
      left: auto
      right: 0
  .words
    padding-bottom: 300px
  .words__text
    width: 100%
  .words__social
    position: absolute
    bottom: -150%
    right: 50%
    transform: translateX(50% )
    width: 100%
  .words__social::after
    left: 5%
    width: 115%
  .words__subtitle
    font-size: 22px
  .team
    padding-top: 120px
    padding-bottom: 60px

  .slider-block
    width: 90%
    padding: 0 15px
    margin: auto
  .slider-block__item
    margin: 0 0 30px 0
    max-width: 100%
    width: 100%
  .slider-block__card-wrapper
    width: 100%
  .slider-block__card-image
    object-fit: cover
  .rewards .container
    width: 100%
  .rewards-wrapper
    flex-wrap: wrap
    justify-content: center
  .rewards-slider
    width: 100%

  .rewards__left-side
    text-align: center
    margin-bottom: 30px
  .rewards__houzz
    justify-content: center
  .rewards__houzz-link
    margin: 0 10px
  .rewards-slider__item
    opacity: 0.3
    width: 300px
    transition: all .3s
    transition-delay: .3s
  .rewards-slider__scope
    opacity: 0
    bottom: auto
    right: auto
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50px
    height: 50px
    transition: all .5s
  .rewards-slider__item.slick-current
    opacity: 1
  .rewards-slider__item.slick-current .rewards-slider__scope
    opacity: 1
  .rewards-slider:before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: 10
    width: 25%
    height: 100%
    background: linear-gradient(90deg, #fff 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 79%, )
  .rewards-slider:after
    content: ''
    position: absolute
    top: 0
    right: 0
    z-index: 10
    width: 25%
    height: 100%
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 50%, #fff 100%)
  .rewards-slider__btn--prev
    left: 18%
  .rewards-slider__btn--next
    right: 18%
  .partners-wrapper
    flex-wrap: wrap-reverse
  .partners__title
    width: 45%
    text-align: center
    margin: 0 auto 30px
  .partners-slider
    width: 100%
    margin: 0
    padding: 0
    & .slick-track
      margin-left: -60px
  .partners-slider__item.slick-active .partners-slider__image
    filter: grayscale(0)
    opacity: 1
  .partners-slider__item
    width: 90px
    margin: 0 20px
  .partners-slider__image
    width: 100%
    opacity: 0.4
  .partners-slider:before
    content: ''
    position: absolute
    top: 0
    left: -20px
    z-index: 10
    width: 33%
    height: 100%
    background: linear-gradient(90deg, #fff 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 79%, )
  .partners-slider:after
    content: ''
    position: absolute
    top: 0
    right: -20px
    z-index: 10
    width: 33%
    height: 100%
    background: linear-gradient(270deg, #fff 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 79%, )
  .partners-slider__btn--next
    right: 23%
  .partners-slider__btn--prev
    left: 23%
  .footer-top__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 0
  .footer-inst
    position: relative
    margin-bottom: -200px
  .footer-top__descr
    width: 100%
    justify-content: center
    margin-bottom: 40px
  .footer-top__descr-item
    width: 40%
  .footer-top__descr-item:nth-child(2)
    width: 65%
    text-align: center
  .footer-top__descr-social
    justify-content: center
  .footer-top__descr-title
    margin-bottom: 20px
  .footer-inst__btn
    left: 50%
    transform: translateX(-50%)
  .footer-bottom__wrapper
    display: flex
    flex-direction: column
    align-items: center
    width: 60%
    margin: auto
@media screen and ( max-width: 600px)
  .container
    max-width: 330px
  .header
    padding-top: 20px
  .header__logo img
    width: 50px
    height: 50px
  .header__logo
    font-size: 12px
  .menu-btn
    margin-top: 15px
  .callback p
    font-size: 14px
  .main-info
    max-width: 310px
    margin: auto
  .main-info__title
    font-size: 26px
    line-height: 40px
    text-align: left
    margin-bottom: 40px
    letter-spacing: normal
    &-fz
      font-size: 22px
  .main-info__subtitle
    font-size: 18px
    text-align: left
    margin-bottom: 80px
  .main-ellipse::before
    width: 130%
    height: 21%
    top: 5%
    left: 0
  .main-form
    padding-left: 15px
    padding-right: 15px
  .main-info--mobile .main-info__list
    column-count: 2
    column-gap: 20px
    display: block
    & .main-info__list-item
      margin-bottom: 20px
  .main-form__title
    font-size: 14px
  .main-form__label
    font-size: 10px
  .main-form__select
    margin-top: 10px
    font-size: 12px
  .main-form__select-block
    max-width: 115px
  .main-form__radio-item:first-child
    margin-right: 25px
  .range
    width: 110px
  .marquee
    font-size: 36px
  .about-us__title
    width: 100%
    margin: 0 auto 60px
  .about-us__title::before
    width: 450px
    height: 130px
    z-index: -50
    top: 44%
    left: -30%
  .about-us__marquee
    margin-bottom: 100px
  .about-us__info
    width: 100%
    row-gap: 50px
  .about-us__info p
    font-size: 16px
  .about-us__info-item
    max-width: 100%
  .gallery-block__item
    height: 300px
  .gallery-block__item--with-text
    padding: 20px
  .gallery-block__item-title
    margin-bottom: 20px
  .gallery-block__item--guarantee
    padding: 20px
  .gallery-block__item--guarantee h3
    margin-top: 30px
    margin-bottom: 25px
    font-size: 30px
  .gallery-block__item--guarantee h3::first-letter
    margin-top: -30px
    margin-right: 10px
    font-size: 118px
  .gallery-block__item--guarantee p
    font-size: 18px

  .calculator__descr
    font-size: 24px
    margin-bottom: 50px
  .calculator__title
    margin-bottom: 30px
  .form-tab__list
    font-size: 18px
  .calculator__block
    width: 100%
  .before-after
    padding-top: 40px
  .before-after-wrapper
    position: relative
  .before-after__thumb
    order: 1
  .before-after__text
    position: absolute
    top: 32%
    left: 0
    font-size: 18px
  .before-after-block__item
    height: 210px
  .before-after-block__item img
    height: 100%
  .before-after-block
    margin-bottom: 30px
    &::before
      @include ellipse(127%,45%,125deg)
      top: 54%
      left: 0
  .before-after__title:before
    display: none
  .project__btn, .video__load-btn
    font-size: 16px
  .video
    padding: 30px 0
  .project__item-btn
    right: auto
    left: 30px
  .pricelist
    overflow: hidden
  .pricelist__title
    text-align: left
  .pricelist__title::before
    width: 355px
    height: 100px
    left: -16%
  .pricelist-wrapper
    max-width: 260px
    margin: auto
  .pricelist-item--no-bg
    padding: 0
  .pricelist-item__list
    text-align: left
  .pricelist-item__btn
    width: 100%
  .pricelist-item__descr, .pricelist-item__text
    width: 100%
  .key__title
    width: 75%
    margin: 0 0 30px auto
    padding: 0
  .key__title::before
    width: 400px
    height: 120px
    left: -130px
    top: 28%
  .key-list__item
    font-size: 18px
  .key-list__item:not(:last-child)
    margin-bottom: 40px
  .key-list__item::before
    font-size: 72px
    top: 0
  .key-list
    max-width: 320px
  .director__title
    text-align: center
    max-width: 100%
    letter-spacing: normal
    margin: 0 auto 35px
    width: 100%
  .director__title .director__title--fz
    color: inherit
    font-size: 18px
  .director__descr
    margin-bottom: 200px
    font-size: 14px
    width: 45%
  .director__photo
    height: 455px
    right: -24%
    bottom: auto
    top: 235px
  .director__list-item
    width: 100%
  .director__list
    grid-gap: 20px
  .words
    padding-bottom: 250px
  .words__subtitle
    font-size: 18px
  .words__text-items
    font-size: 14px
    line-height: 26px
  .words__social
    bottom: -85%
    padding: 25px
    text-align: center
    transform: rotate(300deg)
  .words__social-title
    font-size: 22px
  .words__social-title
    margin-bottom: 22px
  .team-info
    padding-top: 30px
  .team-info__title span
    font-size: 24px
  .team-info__subtitle
    font-size: 18px
  .team-info__grid
    grid-template-columns: repeat(2,1fr )
    grid-template-rows: 250px repeat(2,1fr)
    grid-gap: 10px
    font-size: 18px
  .team-info__num
    grid-row: 1/2
  .team-info__grid-item
    grid-column: 1/3
    margin-top: 10px
  .team-slider-single
    max-width: 100%
    margin: 0
  .slider-block
    max-width: 330px
  .slider-block__item
    height: 160px
  .slider-block__card
    height: 300px
  .slider-block__card-wrapper
    padding: 30px
  .slider-block__card-title
    font-size: 18px

  .slider-block__card-text
    font-size: 12px
    line-height: 18px
    width: 48%
  .slider-block__card-btn
    width: 120px
    height: 120px
  .contacts
    padding-top: 20px
    padding-bottom: 100px
  .contacts__title, .contacts__subtitle
    width: 100%
  .contacts-info
    padding: 30px 20px 100px
  .contacts-info__block
    flex-direction: column
  .contacts-info__btn
    position: absolute
    bottom: -15%
    left: 50%
    transform: translateX(-50%)
  .contacts-info__bottom-block
    width: 100%
  .contacts__title span
    display: block
  .contacts__title span, .contacts__subtitle
    font-size: 18px
  .contacts-info__phone-num
    font-size: 24px
  .contacts-info__social
    margin: 0 0 20px 0
  .contacts-info__social-title, .contacts-info__phone-title
    margin-bottom: 10px
  .contacts-info__block
    margin-bottom: 20px
  .contacts__text
    width: 60%
    margin-bottom: 150px
  .contacts-info__image
    height: 430px
    top: -65%
    right: -30%
  .contacts-info__image::before
    transform: rotate(34deg)
    width: 290px
  .contacts-info__image::after
    content: ''
    position: absolute
    bottom: -10px
    left: 0
    width: 100%
    height: 10%
    background: linear-gradient(0deg, rgba(255,255,255,1) 41%, rgba(255,255,255,0) 100%)
  .rewards__left-side
    text-align: center
    width: 100%
  .rewards-slider__item
    width: 180px

  .rewards .container, .partners .container
    max-width: 100%
  .partners-slider__btn--next
    right: 11%
  .partners-slider__btn--prev
    left: 11%
  .footer-top__title
    font-size: 24px
    line-height: 36px
  .footer-top__subtitle
    font-size: 16px
    line-height: 28px
  .footer-top__descr-title, .footer-top__descr-text
    font-size: 12px
  .footer-top__descr-phone a, .footer-top__descr-time, .footer-top__descr-mail a
    font-size: 14px
    line-height: 18px
  .footer-top__descr-item
    width: 50%
  .footer-top__descr-title
    margin-bottom: 15px
  .footer-top__descr-list li
    padding-left: 15px
  .footer-bottom__wrapper
    width: 100%
  .footer-bottom__address
    width: 80%
  .popup__wrapper
    max-width: 300px
    padding: 30px 20px

  .popup-thanks__wrapper
    &::before
      @include ellipse(100%,20%,-55deg)
      top: 0
      left: 0
      z-index: -1
    &::after
      @include ellipse(100%,20%,-55deg)
      bottom: 0
      left: 0
      z-index: -1
  .popup-thanks__photo
    display: none
  .popup-thanks__title
    margin-bottom: 40px
    width: 100%
  .popup-title
    font-size: 24px
    line-height: 36px
  .popup-thanks__text
    width: 100%
    font-size: 16px
    line-height: 22px
    margin-bottom: 35px
  .popup-callback__wrapper
    flex-direction: column-reverse
    padding: 0
  .popup-callback__image
    max-width: 100%
    height: 140px
  .popup-close
    top: 155px
  .popup-callback__text
    font-size: 14px
  .popup-callback__form
    max-width: 100%
  .popup-tab__wrapper
    flex-direction: column
    padding-top: 40px
    padding-bottom: 100px
  .popup-tab__btn
    bottom: -6%
    left: 50%
    transform: translateX(-50%)
  .popup-tab__content
    column-count: 1
    column-gap: 0
  .popup-tab__block
    width: 100%
    display: flex
    justify-content: space-between
  .popup-tab__block-item
    font-size: 14px
  .popup-tab__block-item--active::before
    top: 35px
    left: 50%
    transform: translateX(-50%) rotate(90deg)
  .popup-tab .popup-close
    top: 10px
    right: 10px
@media screen and ( max-width: 400px )
  .partners-slider__btn--prev
    left: 0
  .partners-slider__btn--next
    right: 0
